*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(blue, purple);
    margin: 0;
}

header {
    font-size: 2vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: purple;
    color: white;
    text-align: center;
}

section {
    background: black;
    color: white;
    padding: 60px;
}

section:nth-of-type(odd) {
    background: silver;
    color: black;
}

#biography {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
    min-height: 500px;
    text-align: center;
    background-color: gray;
}

.section-title {
    font-size: 2em;
    color:purple;
}

.section-title-page {
    font-size: 2em;
    color: purple;
    text-align: center;
}
.section-title #biography {
    color: black;
}
/* section:nth-of-type(odd) .section-title {
    color: navy;
} */

.view-more {
    background-color: purple;
    color: white;
    border-color:black;
    border-radius: 10px;
    max-height:fit-content;
}

.img-previews {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.img-previews img {
    height: auto;
    max-width: 250px;
    width: 100%;
}

.img-gallery {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/* 'margin: 50px; auto;' would also work, when you have two values, the first value governs the top and bottom and the second value governs the left and right */

.img-gallery img{
    max-height: 200px;
    width: 100%;
    max-width: 200px;
}

.footer h1{
    text-align: left;
}

.contacts{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* https://texturelabs.org/
   https://fonts.google.com/  */



    


