body {
background: cornsilk;
color: cornsilk;
}

.drawings-title {
    font-size: 5vw;
    color:aqua;
}

header {
    font-size: 10vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: purple;
    color: white;

}
